{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pet/edit.css' %}">
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css" />
{% endblock extra_css %}

{% block header %}
{% include "_header.html" %}
{% endblock header %}

{% block main %}

<div class="body-container">

    <div class="form-container">

        <form id="pet-edit" method="post" action="{% url 'edit' pet.id %}" enctype="multipart/form-data">
            {% csrf_token %}

            {% if error_message %}
            {% for error_message in error_message_list %}
            <li>{{ error_message }}</li>
            {% endfor %}
            {% endif %}

            <h2 name="name" style="text-align: center;">{{ pet.name }}</h2>
            {% if pet.image %}
            <img id="pet-image" src="{{ pet.image.url }}">{# pet.image はNG #}
            {% else %}
            <img id="pet-image" src="{% static '/image/no-image.png' %}">
            {% endif %}

            <div class="mix-area">
                <div class="age-area">
                    <label>年齢</label>
                    <input type="number" id="age" name="age" value="{{ pet.age }}" required>
                </div>
                <div class="gender-area">
                    <label>性別&nbsp;</label>
                    {% if pet.sex %}
                    <p>♂</p>
                    {% else %}
                    <p>♀</p>
                    {% endif %}
                </div>

                <div class="image-area">
                    <label class="file-label">
                        <input type="file" name="upload_file">
                        ペットの写真
                    </label>
                    <small>&nbsp;未選択</small>
                </div>
            </div>

            <label>特徴</label>
            <textarea name="charm-point">{{ pet.charm_point }}</textarea>
            <label>郵便番号</label>
            <input type=text id="post-cord" name="post-cord" value="{{ pet.post_cord }}">
            <label>住所</label>
            <input type=text id="address" name="address" value="{{ pet.address }}">

            <input type="hidden" name="id" value="{{ id }}">
            <input type="hidden" name="sex" value="{{ sex }}">

            <input type="submit" value="更新">

        </form>
    </div>


    {% endblock main %}

    {% block extra_javascript %}
    <script src="{% static 'js/pet/edit.js' %}"></script>
    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/postCordAPI.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/fetch-jsonp@1.1.3/build/fetch-jsonp.min.js"></script>
    {% endblock extra_javascript %}