{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pet/edit.css' %}">
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css" />
{% endblock extra_css %}

{% block header %}
{% include "_header.html" %}
{% endblock header %}

{% block main %}

{% if messages %}
{% for message in messages %}
<script>alert("{{ message }}");</script>
{% endfor %}
{% endif %}

<div class="body-container">

    <div class="form-container">

        <form id="pet-edit" method="post" action="{% url 'pet:edit' pet_id %}" enctype="multipart/form-data">
            {% csrf_token %}

            <h2 name="name" readonly>{{ form.name }}</h2>
            <img id="pet-image" src="{{ pet_image_url }}">

            <div class="mix-area">
                <div class="age-area">
                    <label>年齢</label>
                    {{ form.age }}
                </div>

                <div class="gender-area">
                    <label>性別&nbsp;</label>
                    {% if form.sex.value %}
                    <p>♂</p>
                    {% else %}
                    <p>♀</p>
                    {% endif %}
                </div>

                <div class="image-area">
                    <label class="file-label">
                        {{ form.image }}
                        ペットの写真
                    </label>
                    <small>&nbsp;未選択</small>
                </div>
            </div>

            <label>特徴</label>
            {{ form.charm_point }}
            <label>郵便番号</label>
            {{ form.post_cord }}
            <label>住所</label>
            {{ form.address }}

            <input type="hidden" name="id" value="{{ pet_id }}">
            <input type="submit" value="更新">

        </form>
    </div>


    {% endblock main %}

    {% block extra_javascript %}
    <script src="{% static 'js/pet/edit.js' %}"></script>
    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/postCordAPI.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/fetch-jsonp@1.1.3/build/fetch-jsonp.min.js"></script>
    {% endblock extra_javascript %}