<!DOCTYPE html>

<!--/* ここでspring-securityを読み込ませることで、認証の有無やロールの種類で表示内容を切り分けることができるようになる
	 Adminの時だけ「管理ページへログイン」など */-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link rel="stylesheet" th:href="@{/css/pet/index.css}">
    <link rel="stylesheet" th:href="@{/css/header/header.css}">
    <link rel="icon" type="image/png" th:href="@{../img/favicon-32x32.png}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css" />
    <script defer src="https://use.fontawesome.com/releases/v6.2.1/js/all.js"></script>
    <meta charset="UTF-8">
    <title>Pertch</title>
</head>

<body>
    <th:block th:replace="fragment/header :: header"></th:block>

    <div class="body-container">
        <p class="action-message" th:if="${insertMessage}" th:text="${insertMessage}"></p>
        <p class="action-message" th:if="${updateMessage}" th:text="*{updateMessage}"></p>
        <p class="action-message" th:if="${deleteMessage}" th:text="*{deleteMessage}"></p>
        <p class="alert-message" th:if="${errorMessage}" th:text="*{errorMessage}"></p>

        <h2 style="text-align: center;">
            <i class="fa-solid fa-magnifying-glass-location fa-2x"></i> ペット一覧
        </h2>

        <th:block th:if="${not #strings.isEmpty(searchMessage)}">
            <h4 th:text="${searchMessage}"></h4>
        </th:block>

        <form id="search" method="POST" th:action="@{/pet/search}" th:object="${petForm}" enctype="multipart/form-data">
            <div class="search-inputarea">
                <div class="search-first-inputarea">
                    <label>ペット名</label>
                    <input type=text th:field="*{name}">
                    <label>年齢</label>
                    <input type="number" class="search-input-age" th:field="*{age}">
                    <label>性別</label>
                    <input type="radio" value="true" th:field="*{sex}">♂
                    <input type="radio" value="false" th:field="*{sex}">♀
                    <label>特徴</label>
                    <input type=text th:field="*{charmPoint}"></input>
                </div>
                <div class="search-second-inputarea">

                    <label>郵便番号</label>
                    <input type=text th:field="*{postCord}">
                    <label>住所</label>
                    <input type=text th:field="*{address}">
                    <label>飼い主</label>
                    <input type=text th:field="*{owner.ownerName}">
                </div>
                <div>
                    <input type="submit" class="submit-button" value="検索">
                </div>
            </div>


        </form>

        <div class="table-area">
            <table id="sort_table" border="1" th:unless="${#lists.isEmpty(list)}" style="table-layout: fixed;">

                <colgroup>
                    <col width="10%">
                    <col width="2%">
                    <col width="2%">
                    <col width="32%">
                    <col width="4%">
                    <col width="20%">
                    <col width="10%">
                    <col width="1%">
                    <col width="1%">
                </colgroup>
                <tbody id="index-tbody">
                    <tr>
                        <th>ペット名&nbsp;<i class="fa fa-sort"></i></th>
                        <th>年齢&nbsp;<i class="fa fa-sort"></i></th>
                        <th>性別&nbsp;<i class="fa fa-sort"></i></th>
                        <th>特徴&nbsp;<i class="fa fa-sort"></i></th>
                        <th>郵便番号&nbsp;<i class="fa fa-sort"></i></th>
                        <th>住所&nbsp;<i class="fa fa-sort"></i></th>
                        <th>飼い主&nbsp;<i class="fa fa-sort"></i></th>
                        <th id="no-sort-column">編集</th>
                        <th id="no-sort-column">削除</th>
                    </tr>
                    <tr th:each="pet : ${list}" align="center">
                        <td align="left">
                            <form id="pet-show" method="GET" th:action="@{/pet/show/{id}(id=${pet.id})}">
                                <a href="#" th:text="${pet.name}"></a>
                            </form>
                        </td>
                        <td th:text="${pet.age}" style="text-align: center;"></td>
                        <th:block th:switch="${pet.sex}">
                            <td th:case=true style="text-align: center;">♂</td>
                            <td th:case=false style="text-align: center;">♀</td>
                        </th:block>
                        <td th:text="${pet.charmPoint}"></td>
                        <td th:text="${pet.postCord}"></td>
                        <td th:text="${pet.address}"></td>
                        <td>
                            <a th:href="@{/owner/show/{id}(id=${pet.owner.id})}" th:text="${pet.owner.ownerName}"></a>
                        </td>
                        <td>
                            <th:block th:if="${pet.owner.id == currentUser.id}">
                                <form method="POST" th:action="@{/pet/edit/{id}(id=${pet.id})}">
                                    <button type="submit">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                </form>
                            </th:block>
                        </td>
                        <td>
                            <th:block th:if="${pet.owner.id == currentUser.id}">
                                <form method="POST" th:action="@{/pet/delete}">
                                    <input type="hidden" id="delete" name="id" th:value="${pet.id}">
                                    <button type="submit" id="deleteBtn">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </form>
                            </th:block>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script th:src="@{/js/pet/index.js}"></script>
        <script th:src="@{/js/sort.js}"></script>
        <script th:src="@{/js/postCordAPI.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/fetch-jsonp@1.1.3/build/fetch-jsonp.min.js"></script>
        <th:block th:replace="fragment/footer :: copyRight"></th:block>
    </div>
</body>

</html>