{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pet/index.css' %}">
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css" />
{% endblock extra_css %}

{% block header %}
{% include "_header.html" %}
{% endblock header %}

{% block main %}
{% if error_message %}
<script>alert("{{ error_message }}");</script>
{% endif %}

<div class="body-container">

    {% if insert_message %}
    <p class="action-message">{{ insertMessage }}</p>
    {% elif update_message %}
    <p class="action-message">{{ updateMessage }}</p>
    {% elif delete_message %}
    <p class="action-message">{{ deleteMessage }}</p>
    {% elif error_message %}
    <p class="alert-message">{{ errorMessage }}</p>
    {% endif %}

    <h2 style="text-align: center;">
        <i class="fa-solid fa-magnifying-glass-location fa-2x"></i> ペット一覧
    </h2>

    {% if insert_message %}
    <div class="h4">{{ search_message }}</div>
    {% endif %}

    <form id="search" method="POST" th:action="@{/pet/search}" th:object="${petForm}" enctype="multipart/form-data">
        <div class="search-inputarea">
            <div class="search-first-inputarea">
                <label>ペット名</label>
                <input type=text th:field="*{name}">
                <label>年齢</label>
                <input type="number" class="search-input-age" th:field="*{age}">
                <label>性別</label>
                <input type="radio" value="true" th:field="*{sex}">♂
                <input type="radio" value="false" th:field="*{sex}">♀
                <label>特徴</label>
                <input type=text th:field="*{charmPoint}"></input>
            </div>
            <div class="search-second-inputarea">

                <label>郵便番号</label>
                <input type=text th:field="*{postCord}">
                <label>住所</label>
                <input type=text th:field="*{address}">
                <label>飼い主</label>
                <input type=text th:field="*{owner.ownerName}">
            </div>
            <div>
                <input type="submit" class="submit-button" value="検索">
            </div>
        </div>
    </form>

    <div class="table-area">
        {% if list %}
        <table id="sort_table" border="1" style="table-layout: fixed;">
            <colgroup>
                <col width="10%">
                <col width="2%">
                <col width="2%">
                <col width="32%">
                <col width="4%">
                <col width="20%">
                <col width="10%">
                <col width="1%">
                <col width="1%">
            </colgroup>
            <tbody id="index-tbody">
                <tr>
                    <th>ペット名&nbsp;<i class="fa fa-sort"></i></th>
                    <th>年齢&nbsp;<i class="fa fa-sort"></i></th>
                    <th>性別&nbsp;<i class="fa fa-sort"></i></th>
                    <th>特徴&nbsp;<i class="fa fa-sort"></i></th>
                    <th>郵便番号&nbsp;<i class="fa fa-sort"></i></th>
                    <th>住所&nbsp;<i class="fa fa-sort"></i></th>
                    <th>飼い主&nbsp;<i class="fa fa-sort"></i></th>
                    <th id="no-sort-column">編集</th>
                    <th id="no-sort-column">削除</th>
                </tr>
                {% for pet in list %}
                <tr align="center">
                    <td align="left">
                        <form id="pet-show" method="GET" th:action="@{/pet/show/{id}(id=${pet.id})}">
                            <a href="#">{{ pet.name }}</a>
                        </form>
                    </td>
                    <td style="text-align: center;">{{ pet.age }}</td>
                    {% if pet.sex %}
                    <td style="text-align: center;">♂</td>
                    {% else %}
                    <td style="text-align: center;">♀</td>
                    {% endif %}
                    <td>{{ pet.charmPoint }}</td>
                    <td>{{ pet.postCord }}</td>
                    <td>{{ pet.address }}</td>
                    <td>
                        <!-- ToDo Ownerとのリレーション設定後に修正 -->
                        <a th:href="@{/owner/show/{id}(id=${pet.owner.id})}">{{ pet.owner.ownerName }}</a>
                    </td>
                    <td>
                        {% if pet.owner.id == user.id %}
                        <form method="POST" th:action="@{/pet/edit/{id}(id=${pet.id})}">
                            <button type="submit">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </form>
                        {% endif %}
                    </td>
                    <td>
                        {% if pet.owner.id == user.id %}
                        <form method="POST" th:action="@{/pet/delete}">
                            <input type="hidden" id="delete" name="id" th:value="${pet.id}">
                            <button type="submit" id="deleteBtn">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>


    {% endblock main %}

    {% block extra_javascript %}
    <script src="{% static 'js/pet/index.js' %}"></script>
    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/sort.js' %}"></script>
    <script src="{% static 'js/postCordAPI.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v6.2.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fetch-jsonp@1.1.3/build/fetch-jsonp.min.js"></script>
    {% endblock extra_javascript %}