{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pet/show.css' %}">
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css" />
{% endblock extra_css %}

{% block header %}
{% include "_header.html" %}
{% endblock header %}

{% block main %}

{% if messages %}
{% for message in messages %}
<script>alert("{{ message }}");</script>
{% endfor %}
{% endif %}

<div class="body-container">

    <div class="form-container">

        <form id="pet-show" method="#" enctype="multipart/form-data">
            <h2 style="margin: 0;">{{ pet.name }}</h2>

            {% if pet.image %}
            <img id="pet-image" src="{{ pet.image.url }}">{# pet.image はNG #}
            {% else %}
            <img id="pet-image" src="{% static '/image/no-image.png' %}">
            {% endif %}

            <div class="mix-area">
                <div class="age-area">
                    <label>年齢</label>
                    <p>{{ pet.age }}歳</p>
                </div>
                <div class="gender-area">
                    <label>性別&nbsp;</label>
                    {% if pet.sex %}
                    <p>♂</p>
                    {% else %}
                    <p>♀</p>
                    {% endif %}
                </div>
            </div>

            <label>オーナー</label>
            <a id="owner-show-link" href="{% url 'owner:detail' pet.owner.id %}">{{ pet.owner.username }}</a>
            <label>特徴</label>
            <textarea readonly>{{ pet.charm_point }}</textarea>
            <label>郵便番号</label>
            <p>{{ pet.post_cord }}</p>
            <label>住所</label>
            <p>{{ pet.address }}</p>
        </form>
    </div>

    <div id="eyewitness-area">
        <br>
        <h2 id="eye-witness-title">目撃情報</h2>
        {% if pet_comment_list %}
        <table id="sort_table" border="1" style="table-layout: fixed;">
            <colgroup>
                <col width="10%">
                <col width="30%">
                <col width="60%">
            </colgroup>
            <tr>
                <th class="eyewitness-table-header1">日時&nbsp;<i class="fa fa-sort"></i></th>
                <th class="eyewitness-table-header1">場所&nbsp;<i class="fa fa-sort"></i></th>
                <th class="eyewitness-table-header1">情報&nbsp;<i class="fa fa-sort"></i></th>
            </tr>
            {% for pet_comment in pet_comment_list %}
            <tr align="center">
                <td class="show-eventTime">{{ pet_comment.event_time|date:"Y/m/j H:i" }}</td>
                <td>{{ pet_comment.event_place }}</td>
                <td>{{ pet_comment.event_information }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        <form method="post" id="eyewitness-posing-area" action="{% url 'pet_comment:new' %}">
            {% csrf_token %}
            <label class="eyewitness-label">日時</label><br>
            {{ form.event_time }}
            <div></div>
            <label class="eyewitness-label">場所</label><br>
            {{ form.event_place }}
            <div></div>
            <label class="eyewitness-label">情報</label><br>
            {{ form.event_information }}
            <div></div>

            <input type="hidden" name="pet_id" value="{{ pet.id }}">
            <input type="submit" id="eyewitness-button" value="投稿">
        </form>

    </div>
    {% endblock main %}

    {% block extra_javascript %}
    <script src="{% static 'js/pet/show.js' %}"></script>
    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/sort.js' %}"></script>
    {% endblock extra_javascript %}