<html>

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="icon" type="image/png" href="img/favicon-32x32.png">
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>ログインページ</title>
    <meta charset="UTF-8">
</head>

<body>
    {% if user.is_authenticated %}
    <script th:inline="javascript">alert(/*[[${login_message}]]*/);</script>
    {% endblock content %}

    <div class="container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" method="post" th:action="@{/login}">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" id="inputEmail" class="form-control" name="username" placeholder="Email address"
                    required autofocus>
                <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password"
                    autocomplete="off" required>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">ログイン</button>
            </form>
            <form class="form-signin" method="get" th:action="@{/registration}">
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">登録</button>
            </form>
            <form class="form-signin" method="get" th:action="@{/top}">
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">TOP</button>
            </form>
        </div>
    </div>
    <th:block th:replace="fragment/footer :: copyRight"></th:block>
</body>

</html>