<!DOCTYPE html>

<head>
    <meta charset="UTF-8" />
    {% load static %}

    <link href="{% static 'css/owner/registration.css' %}" rel="stylesheet">

    <link rel="icon" type="image/png" href="{% static 'image/favicon-32x32.png' %}" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css" />
    <script defer src="https://use.fontawesome.com/releases/v6.2.1/js/all.js"></script>
    <title>Pertch</title>
</head>

<body>
    {% if not errorMessages %}
    <script th:inline="javascript">alert("{{ errorMessages }}");</script>
    {% endif %}

    <main class="main">
        <form class="form" method="post" action="{% url 'post_registration' %}">{% csrf_token %}
            <div class="form__item">
                <label for="ownerName">Name</label><input type="text" placeholder="お名前" name="ownerName" required />
            </div>
            <div class="form__item">
                <label for="password">Password</label> <input type="password" placeholder="パスワード" autocomplete="off"
                    name="password" required />
            </div>

            <div class="form__item">
                <label for="contact">Email</label> <input type="text" placeholder="メールアドレス" name="contact" required />
            </div>
            <div class="form__item">
                <label for="password">Message</label>
                <div class="input-message-area">
                    {% if not inputMessage %}
                    <textarea placeholder="目撃者へのメッセージ" id="message" name="message"></textarea>
                    {% else %}
                    <textarea id="message" name="message">{{ inputMessage }}</textarea>
                    {% endif %}
                </div>
            </div>
            <!-- ToDo 動作確認後、問題なければ削除予定
            <div class="form__item">
                <label for="contact">Contact</label><input type="text" placeholder="ご連絡先" name="contact" />
            </div>
            -->
            <div class="form__item">
                <input class="submit-button registration-button" type="submit" value="Sign Up" />
            </div>

        </form>
        <form class="form-signin top-button" method="get" th:action="@{/top}">
            <div class="form__item">
                <input class="submit-button" type="submit" value="TOP" />
            </div>
        </form>
    </main>
    <script src="{% static 'js/owner/registration.js' %}"></script>

    <!-- ToDo テンプレート継承での共通化をしたい -->
    <footer style="text-align: center; margin-top: 8%">
        <small>©Otinu</small>
    </footer>
</body>

</html>