{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/owner/registration.css' %}">
{% endblock extra_css %}

{% block main %}

{% if error_message %}
<script>alert("{{ error_message }}");</script>
{% endif %}

<main class="main">
    <form class="form" method="post" action="{% url 'registration' %}">
        {% csrf_token %}
        <div class="form__item">
            <label for="username">Name</label><input type="text" placeholder="お名前" name="username" />
        </div>
        <div class="form__item">
            <label for="password">Password</label> <input type="password" placeholder="パスワード" autocomplete="off"
                name="password" required />
        </div>

        <div class="form__item">
            <label for="contact">Email</label> <input type="text" placeholder="メールアドレス" name="contact" required />
        </div>
        <div class="form__item">
            <label for="password">Message</label>
            <div class="input-message-area">
                {% if not inputMessage %}
                <textarea placeholder="目撃者へのメッセージ" id="message" name="message"></textarea>
                {% else %}
                <textarea id="message" name="message">{{ inputMessage }}</textarea>
                {% endif %}
            </div>
        </div>
        <div class="form__item">
            <input class="submit-button registration-button" type="submit" value="登録" />
        </div>

    </form>
    <form class="form-signin top-button" method="get">
        <div class="form__item">
            <input type="hidden" name="hidden_value" value="top">
            <input class="submit-button" type="submit" value="Top" />
        </div>
    </form>
</main>
{% endblock main %}

{% block extra_javascript %}
<script src="{% static 'js/owner/registration.js' %}"></script>
{% endblock extra_javascript %}